
/* Reset styles */
html,
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  /* font-size: 16px;
    line-height: 1.5; */
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
}

header {
  background-color: lightblue;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}
main h1 {
  margin: 0;
  text-align: center;
}
main h2 {
  margin: 0;
  text-align: center;
}

main p {
  margin: 10px 0;
  text-align: center;
}

footer {
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
